<div>
    <Table width="100%">
        <tr width="100%">
            <td width="50%" align="center">Number of projects created (accumulated)</td>
            <td width="50%" align="center">Number of projects updated</td>
        </tr>
        <tr width="100%">
          <td width="50%"><canvas id="Created">{{ nbProjectsCreatedChart }} </canvas></td>
          <td width="50%"><canvas id="Updated">{{ nbProjectsUpdatedChart }} </canvas></td>
        </tr>
    </Table>
    <!-- <Table cellpadding="10">
        <tr><td>Latest project created</td></tr>
        <tr>
            <td>Time create</td> 
            <td>Time update</td> 
            <td>Name</td> 
            <td>Country</td>
        </tr>
        <tr>
            <td>{{ lastProject?.createdAt }}</td>
            <td>{{ lastProject?.updatedAt }}</td>
            <td>{{ lastProject?.projectName }}</td>
            <td>{{ lastProject?.country }}</td>
        </tr>
    </Table> -->
</div>
  