<div>
  <H3>overview</H3>

  <Table>
    <tr>
      <Td>Users</Td>
      <td>Projects</td>
      <td>Configured devices</td>
      <td>Not configured devices</td>
    </tr>
    <tr>
        <Td>{{ usersNb }}</Td>
        <td>{{ projectsNb }}</td>
        <td>{{ devicesConfiguredNb }}</td>
        <td>{{ devicesUnconfiguredNb }}</td>
      </tr>
  </Table>

<Table>

</Table>

  <table>
      <tr *ngFor="let proj of projectsArray">
          <td> {{proj.country}}</td>
          <td> {{proj.projects.length}}</td>
          <!-- <td> {{proj.configured}}</td>
          <td> {{proj.notConfigured}}</td> -->
      </tr>
  </table>

</div>
