<script src="node_modules/chart.js/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

<router-outlet></router-outlet>

<ngb-tabset>
     
        <ngb-tab>
          <ng-template ngbTabTitle>Overview</ng-template>
          <ng-template ngbTabContent>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Dashboard">
        <ng-template ngbTabContent>
                <div>
                        <canvas id="projectsCanvas">{{ projectsChart }} </canvas>
                </div>
        </ng-template>
        </ngb-tab>

        <ngb-tab title="Sweden" [disabled]="true">
          <ng-template ngbTabContent>
          </ng-template>
        </ngb-tab>

         <ngb-tab title="Denmark" [disabled]="true">
          <ng-template ngbTabContent>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="France" [disabled]="true">
                <ng-template ngbTabContent>
                </ng-template>
        </ngb-tab>

</ngb-tabset>
      

