<script src="node_modules/chart.js/Chart.min.js"></script>
<script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

<router-outlet></router-outlet>

<ngb-tabset>
     
        <ngb-tab>
          <ng-template ngbTabTitle>Overview</ng-template>
          <ng-template ngbTabContent>
                <app-overview></app-overview>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="Dashboard" activeId="dashTab">
        <ng-template ngbTabContent>
             <app-dashboard></app-dashboard>
        </ng-template>
        </ngb-tab>

        <ngb-tab title="Sweden" activeId="SwedenTab">
          <ng-template ngbTabContent>
            <app-country-view></app-country-view>
          </ng-template>
        </ngb-tab>

         <ngb-tab title="Denmark" [disabled]="true">
          <ng-template ngbTabContent>
              <app-country-view></app-country-view>
          </ng-template>
        </ngb-tab>

        <ngb-tab title="France" [disabled]="true">
            <ng-template ngbTabContent>
                <app-country-view></app-country-view>
            </ng-template>
        </ngb-tab>

</ngb-tabset>
      

